As24WebServicesTest/As24WebServicesTest/Service References/As24Lookup/Lookup2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.autoscout24.com/webapi/" elementFormDefault="qualified" targetNamespace="http://www.autoscout24.com/webapi/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://api.autoscout24.com/ssg/wsdl/Lookup.svc?serviceoid=147488777&amp;servdocoid=147881996" namespace="http://www.autoscout24.com/webapi/data/" />
  <xs:element name="GetLookupData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://www.autoscout24.com/webapi/data/" minOccurs="0" name="request" nillable="true" type="q1:GetLookupDataRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLookupDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://www.autoscout24.com/webapi/data/" minOccurs="0" name="response" nillable="true" type="q2:GetLookupDataResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMakeModelTree">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://www.autoscout24.com/webapi/data/" minOccurs="0" name="request" nillable="true" type="q3:GetMakeModelTreeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMakeModelTreeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://www.autoscout24.com/webapi/data/" minOccurs="0" name="response" nillable="true" type="q4:GetMakeModelTreeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>