As24WebServicesTest/As24WebServicesTest/Service References/As24Lookup/LookupFacade.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.autoscout24.com/webapi/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LookupFacade" targetNamespace="http://www.autoscout24.com/webapi/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.autoscout24.com/webapi/Imports">
      <xsd:import schemaLocation="http://api.autoscout24.com/ssg/wsdl/Lookup.svc?serviceoid=147488777&amp;servdocoid=147881997" namespace="http://www.autoscout24.com/webapi/" />
      <xsd:import schemaLocation="http://api.autoscout24.com/ssg/wsdl/Lookup.svc?serviceoid=147488777&amp;servdocoid=147881995" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://api.autoscout24.com/ssg/wsdl/Lookup.svc?serviceoid=147488777&amp;servdocoid=147881996" namespace="http://www.autoscout24.com/webapi/data/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILookup_GetLookupData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLookupData" />
  </wsdl:message>
  <wsdl:message name="ILookup_GetLookupData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLookupDataResponse" />
  </wsdl:message>
  <wsdl:message name="ILookup_GetMakeModelTree_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMakeModelTree" />
  </wsdl:message>
  <wsdl:message name="ILookup_GetMakeModelTree_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMakeModelTreeResponse" />
  </wsdl:message>
  <wsdl:portType name="ILookup">
    <wsdl:operation name="GetLookupData">
      <wsdl:input wsaw:Action="http://www.autoscout24.com/webapi/ILookup/GetLookupData" message="tns:ILookup_GetLookupData_InputMessage" />
      <wsdl:output wsaw:Action="http://www.autoscout24.com/webapi/ILookup/GetLookupDataResponse" message="tns:ILookup_GetLookupData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMakeModelTree">
      <wsdl:input wsaw:Action="http://www.autoscout24.com/webapi/ILookup/GetMakeModelTree" message="tns:ILookup_GetMakeModelTree_InputMessage" />
      <wsdl:output wsaw:Action="http://www.autoscout24.com/webapi/ILookup/GetMakeModelTreeResponse" message="tns:ILookup_GetMakeModelTree_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILookup" type="tns:ILookup">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLookupData">
      <soap:operation soapAction="http://www.autoscout24.com/webapi/ILookup/GetLookupData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMakeModelTree">
      <soap:operation soapAction="http://www.autoscout24.com/webapi/ILookup/GetMakeModelTree" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LookupFacade">
    <wsdl:port name="BasicHttpBinding_ILookup" binding="tns:BasicHttpBinding_ILookup">
      <soap:address location="http://api.autoscout24.com/AS24_WS_Lookup" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>